IndentWidth: 4
ColumnLimit: 0
SortIncludes: false

AlignAfterOpenBracket: false
AlignOperands: false

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
